.dropdown-menu {
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }